# 버전 관리
.git
.gitignore

# 의존성
node_modules
npm-debug.log

# 환경 설정
.env
.env.local
.env.*.local

# 로그
*.log

# 데이터베이스
*.db
*.sqlite

# 시스템 파일
.DS_Store
Thumbs.db

# IDE 설정
.idea
.vscode
*.swp
*.swo

# 빌드 출력
dist
build
.next 